
.footer {
    height: 130px;
    display: flex;
    justify-content: center;
    margin-top: auto;

    
    .icon {
        font-size: 40px;
        margin-right: 10px;
    }

    
}
