section {
    height: 100vh;
    min-height: 100vh;
    margin-bottom: -50px;
    position: relative;

}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

.name-price {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: medium;
}