.list {
    width: 200px;
    height: 150px;
    position: absolute;
    right: 15px;
    background-color: rgb(253, 253, 216);
}

.item {
    display: flex;
    justify-content: space-between;

    button {
        height: 2px;
        background-color: blanchedalmond;
        border: none;
    }
}